<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="banner-content parallax-window" data-parallax="scroll">
          <h1>SELL YOUR MUSIC WORLDWIDE</h1>
              <ul>
                <li>Get your music on Spotify, iTunes, Tidal, Google Play, Amazon Music & more</li>
                <li>Share your music and grow your fan base</li>
                <li>Keep 100% of the sales revenue from the music you distribute</li>
              </ul>
          <a class="btn btn-primary btn-lg">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="martop-default">
          <h1>HOW TO SELL YOUR MUSIC ONLINE</h1>
          <h3>Before TuneCore, artists needed a label to get their music sold online. In 2006, we changed the game by partnering with digital stores to allow any musician to sell their songs worldwide while keeping 100% of their sales revenue. Today, TuneCore is the world’s leading digital music aggregator. Upload your music, complete the checkout, and we’ll do the rest. Your music will hit digital stores like Spotify and Apple Music in no time.</h3>
        </div>
        <div class="section-logos martop-small">
          <div class="logo-partners">
              <%= cl_image_tag("Nikita/Spotify_logo_black-250x75.png", :width=>125, :crop=>"scale") %>
          </div>
          <div class="logo-partners">
              <%= cl_image_tag("Nikita/applemusic0-250x59.png", :width=>125, :crop=>"scale") %>
          </div>
          <div class="logo-partners">
              <%= cl_image_tag("Nikita/GooglePlay.png", :width=>125, :crop=>"scale") %>
          </div>
          <div class="logo-partners">
              <%= cl_image_tag("Nikita/Amazon.png", :width=>125, :crop=>"scale")%>
          </div>
          <div class="logo-partners">
              <%= cl_image_tag("Nikita/YouTube.png", :width=>125, :crop=>"scale")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
